.major-container{
    background-color: #81CFC3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.concerts-container{
    width: 880px;
    overflow: hidden;
    border: 1px solid black;
    margin: auto;
    background-color: #DAFDBA;
}
.concerts-display{
    display: flex;
    width: 1760px;
    transition: transform 0.5s ease-in-out;
}
.concerts-display img{
    width: 160px;
    height: auto;
    margin: 10px;
}