.major-container{
    display: flex;
    align-items: center;
    background-color: #81CFC3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.major-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    margin-right: 50px;
    margin-left: 50px;
    white-space: nowrap;
}
.concerts-container{
    width: 880px;
    overflow: hidden;
    border: 1px solid black;
    margin-right: auto;
    background-color: #DAFDBA;
}
.concerts-display{
    display: flex;
    width: 1760px;
    transition: transform 0.5s ease-in-out;
}
.concerts-display img{
    width: 160px;
    height: auto;
    margin: 10px;
}
h2 a{
    display: inline-block;
    padding: 20px 40px;
    background-color: #6ba9a0;
    transition: opacity 0.5 ease;
    border-radius: 15px;
}
h2 a:hover{
    opacity: 0.5;
}